/* Estilo para el contenedor principal del chat */
#chat-container {
    /* pociocionamiento del chat a lo ancho de forma automatica */
    width: auto;
    margin: 0 auto;
    border: 1px solid #abc3f0;
    background-color: #bcd9ff;
    padding: 10px;
    height: 55vh;
    overflow-y: scroll;
    /* Habilitar desplazamiento vertical */
}

.chat-header {
    background-color: #0966b3;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h2 {
    margin: 0;
}

/* Estilo para el formulario de entrada */
#chat-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* Alinea verticalmente en el centro */
}

/*  */
#message {
    flex: 1;
    padding: 5px;
    border: none;
}

#send {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
}

/* texto de usuario*/
#username {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

button[type="submit"] {
    position: fixed;
    display: block;
    margin-top: 5px;
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color de la barra de desplazamiento */
    display: none;
    /* Ocultar la barra de desplazamiento */
}

/* Estilo para ocultar la barra de desplazamiento */
#chat-container::-webkit-scrollbar {
    width: 0.5em;
    /* Ancho de la barra de desplazamiento */
}

/* estilos de los textos */
.burbuja {
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    /* Limitar el ancho máximo de las burbujas */
    max-width: 100%;
    width: fit-content;
    word-wrap: break-word;
    float: left;
    clear: both;
}

.burbuja-you {
    background-color: #0966b3;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    /* Limitar el ancho máximo de las burbujas */
    width: fit-content;
    word-wrap: break-word;
    max-width: 100%;
    float: right;
    clear: both;
    /* Alinear a la derecha */
}

/* Estilo para el contenedor principal del chat */