.item-search{
    height: 2.5rem;
    display: flex;
    align-items: center;

}
.item-search:hover{
    background-color: rgb(243, 42, 42);
    color: white;
    cursor: pointer;
}
.item-pseudo-hover{
    background-color: rgb(238, 54, 54);
    color: white;
}