#addBoton:hover {
    cursor: pointer;
}
.input-valid {border-color: green !important;}
.input-valid+.formulario__validacion-estado {color: green !important;}
.formulario__grupo-incorrecto .formulario__input {border-color: red !important;} 
.formulario__validacion-estado {color: red !important;}
.formulario__grupo-incorrecto .formulario__input-error {
    color: red !important;
}