#add{
    justify-content:left;
    align-items: center;
    padding-top: 0.8rem;
}
#addBoton{
    cursor: pointer;
}
#delBoton {
    position: absolute;
    top: 23%;
    right: -19.9%;
    margin: 28%;
    cursor: pointer;
    font-size: 14px;
}

@media (max-width: 767px) {
    #tel {
        width: 100%;
    }
    #delBoton {
        position: absolute;
        top:auto;
        right: -26%;
        margin: 28%;
        cursor: pointer;
        font-size: 14px;
    }
}